.app-wrapper{
  width: 100%;
  max-width: 1200px;
  display: grid;
  grid-template-rows: 60px 1fr;
  grid-template-columns: 2fr 10fr;
  grid-template-areas: 
  "h h "
  "n c";
}

a{
  text-decoration: none;
}





