.wrp{
    padding: 15px;
  }

.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}


.dialogsItems{
  padding: 10px;
}

.dialogsItems .active{
  color: #689f38;
}

.dialog{
  margin-bottom: 10px;
}
.messages{
  padding: 10px;
}
.message{

}