.wrp{
    padding: 15px;
  }

.dialogs{
  display: grid;
  grid-template-columns: 2fr 10fr;
}


.dialogsItems{
  padding: 10px;
}
.dialog a{
  color: #333;
}

.dialogsItems .active{
  color: #689f38;
}

.dialog{
  margin-bottom: 10px;
}
.messages{
  padding: 10px;
}
.message{

}
.newMessage{
  display: grid;
  grid-template-columns: 10fr 2fr;
  grid-gap: 10px;
}

.newMessageContent{
  outline: none;
  resize: none;
  padding: 10px;
}

.newMessageBtn{
  text-transform: uppercase;
  font-weight: 500;
  border: 1px solid #689f38;
  color: #689f38;
}